.user-detail-container {
  width: 800px;
  height: fit-content;
  padding: 16px;
  background: #ecf0f1;

  .user-info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .transaction-card {
    background: azure;
    padding: 8px;
    border-radius: 8px;
  }
}
