<div class="user-detail-container">
  <div>
    <h1>{{ userAccount.account_holder }}</h1>
  </div>
  <div class="user-info-container">
    <div class="user-info">
      <span>Account type:</span>
      <span>{{ userAccount.account_type }}</span>
    </div>
    <span>Transactions</span>
    <div class="user-info">
      <div
        *ngFor="let item of userAccount.transactions"
        class="transaction-card"
      >
        <div>
          <span>Transaction Id:</span>
          <span>{{ item.transaction_id }}</span>
        </div>
        <div>
          <span>date:</span>
          <span>{{ item.date }}</span>
        </div>
        <div>
          <span>amount:</span>
          <span>{{ item.amount }}</span>
        </div>
        <div>
          <span>Currency:</span>
          <span>{{ item.currency }}</span>
        </div>
        <div>
          <span>Descripiton:</span>
          <span>{{ item.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
